#
#   .gitignore
# -----------------------------------------------------------------------------
#   GitIgnore file
#
#

#
#   Office and other temp files
# -----------------------------------------------------------------------------
~*.*

#
#   Common files for ignore:
# -----------------------------------------------------------------------------
*.cache
*.class
*.exe
*.dll
*.pyc
*.bak

#
#   Eclipse
# -----------------------------------------------------------------------------
**/.history/


#
#   Visual Studio
# -----------------------------------------------------------------------------
**/App_Data/
**/Debug/
**/obj/
**/bin/
*.suo
*.pdb
*.FileListAbsolute.txt
**/.vs/
/packages/


#
#   Android
# -----------------------------------------------------------------------------
*/bin/
.metadata/

*.apk
*.ap_

#
#   Spec.:
# -----------------------------------------------------------------------------
.legacy/
.work/
/Deploy/

#
#   Excludes:
# -----------------------------------------------------------------------------
!/doc/**

# EOF
