<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="WorkingDirectory" value="c:\Users\dburk\Dropbox\Tervezet\SimulationFramework\Adatok\"/>
      <add key="GeoFilter" value="HU"/>
      <add key="StartYearOfValidation" value="2007"/>
      <add key="StartYear" value="2017"/>
      <add key="ForecastYears" value="50"/>
      <add key="AgeLimit" value="110"/>
      <add key="DetEducationAgeStart" value="30"/>
      <add key="FertilityForecastFromYear" value="2000"/>
      <add key="MortalityForecastFromYear" value="1990"/>
      <add key="SmoothProbabilities" value="true"/>
    </appSettings>
</configuration>