<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Load</title>    
    <link rel="stylesheet" href="./AngularMaterial/angular-material.min.css">
    <link rel="stylesheet" href="./AngularMaterial/icon.css">    
    <script src="./AngularMaterial/angular.min.js"></script>
    <script src="./AngularMaterial/angular-animate.min.js"></script>
    <script src="./AngularMaterial/angular-aria.min.js"></script>    
    <script src="./AngularMaterial/angular-messages.min.js"></script>    
    <script src="./AngularMaterial/angular-material.min.js"></script>
    <script src="../base64-utf8.module.js"></script>
</head>

<body ng-app="BlankApp" ng-controller="AppCtrl" ng-cloak>
    
    <form name="validatorForm" layout-fill>
        <!-- Content here -->   
        <div layout="column" layout-align="center stretch" layout-fill>
            <div layout="row" layout-align="center center">
                <md-input-container flex="80">
                    <label>Population data filename</label>
                    <input ng-model="settings.PopulationDataFileName">
                </md-input-container>
                <md-button class="md-raised" ng-click="PopulationBrowse()" flex="10">Browse</md-button>
            </div>

            <div layout="row" layout-align="center center">
                <md-input-container flex="80">
                    <label>Parameters data filename</label>
                    <input ng-model="settings.ParametersFileName">
                </md-input-container>
                <md-button class="md-raised" ng-click="ParameterBrowse()" flex="10">Browse</md-button>
            </div>
        </div>
    </form>

    <!-- Your application bootstrap  -->

    <script type="text/javascript">
        var am = angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
        am.controller('AppCtrl', function ($scope, $http) {
            load = function (base64json) {
                $scope.settings = JSON.parse(base64.decode(base64json));
                $scope.$apply();
            };
            save = function () {
                return base64.encode(JSON.stringify($scope.settings));
            };
            isvalid = function () {
                return $scope.validatorForm.$valid;
            };
            $scope.PopulationBrowse = function () { loadBinder.onBrowseClicked("Population"); }
            $scope.ParameterBrowse = function () { loadBinder.onBrowseClicked("Parameter"); }
        });        
        window.onload = function () { pageLoadBinder.onPageLoaded(); }
    </script>
</body>
</html>