<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="./AngularMaterial/angular-material.min.css">
    <link rel="stylesheet" href="./AngularMaterial/icon.css">    
    <script src="./AngularMaterial/angular.min.js"></script>
    <script src="./AngularMaterial/angular-animate.min.js"></script>
    <script src="./AngularMaterial/angular-aria.min.js"></script>    
    <script src="./AngularMaterial/angular-messages.min.js"></script>    
    <script src="./AngularMaterial/angular-material.min.js"></script>
    <script src="../base64-utf8.module.js"></script>
</head>

<body ng-app="BlankApp" ng-controller="AppCtrl" ng-cloak>

    <form name="validatorForm" layout-fill>        
        <!-- Content here -->
        <div ng-controller="AppCtrl" class="" layout="column" ng-cloak style="height:100%">
            <md-tabs md-border-bottom flex layout="column" layout-fill>
                <!-- Basic Settings -->
                <md-tab label="Basic Settings">
                    <div layout="column" layout-align="stretch space-around" flex style="padding: 20px">
                        <md-input-container>
                            <label>Start Year</label>
                            <input ng-model="::settings.StartYear" required type="number" step="any" name="startyear">
                            <div ng-messages="validatorForm.startyear.$error">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>End Year</label>
                            <input ng-model="::settings.EndYear" required type="number" step="any" name="endyear" min="{{settings.StartYear}}">
                            <div ng-messages="validatorForm.endyear.$error">
                                <div ng-message="required">Required</div>
                                <div ng-message="min">End year has to be higher than start year</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Multiplier field</label>
                            <md-select ng-model="settings.MultiplierField" ng-model-options="{trackBy: '$value.ColumnName'}">
                                <md-option ng-value="null"><em>None</em></md-option>
                                <md-option ng-repeat="x in ::settings.DefaultFields track by x.ColumnName" ng-value="x">
                                    {{::x.MetaName}} ({{::x.ColumnName}})
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-switch ng-model="::settings.UseHouseholds" class="md-secondary md-align-top-left" flex>
                            Use households in the simulation
                        </md-switch>
                    </div>
                </md-tab>
                <!-- Person Fields -->
                <md-tab label="Person Fields">
                    <md-list layout="column" layout-align="stretch space-around" flex style="padding: 20px">
                        <md-subheader layout="row" flex layout-align="center center">
                            <md-button class="md-raised" ng-click="addPersonField();">Add new</md-button>
                        </md-subheader>                  
                        <md-list-item ng-repeat="currentField in settings.PersonFields track by currentField.Name" flex layout="row" layout-align="start none" ng-click="">                                                        
                            <md-input-container flex ="20">
                                <label>Name</label>
                                <input ng-model="::currentField.Name">
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Type</label>
                                <md-select ng-model="::currentField.DefaultType" ng-model-options="{trackBy: '$value.Name'}">
                                    <md-option ng-repeat="x in ::settings.DefaultTypes track by x.Name" ng-value="x">
                                        {{::x.Name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex ="20">
                                <label>Default Value</label>
                                <input ng-model="::currentField.DefaultValue">
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>Default data field</label>
                                <md-select ng-model="::currentField.DefaultDataField" ng-model-options="{trackBy: '$value.ColumnName'}">
                                    <md-option ng-value="null"><em>None</em></md-option>
                                    <md-option ng-repeat="x in ::settings.DefaultFields track by x.ColumnName" ng-value="x">
                                        {{::x.MetaName}} ({{::x.ColumnName}})
                                    </md-option>
                                </md-select>
                            </md-input-container>                                
                            <div layout="column" layout-align="start end" flex>
                                <md-input-container>
                                    <md-icon ng-click="removePersonField($index);" class="material-icons">delete_forever</md-icon>
                                </md-input-container>
                            </div>
                        </md-list-item>                   
                    </md-list>
                </md-tab>
                <!-- Constants -->
                <md-tab label="Constant variables">
                    <md-list layout="column" layout-align="stretch space-around" flex style="padding: 20px;">
                        <md-subheader layout="row" flex layout-align="center center">
                            <md-button class="md-raised" ng-click="addConstant();">Add new</md-button>
                        </md-subheader>
                        <md-list-item ng-repeat="currentField in settings.Constants track by currentField.Name" flex layout="row" layout-align="start start" ng-click="">
                            <div layout="row" flex="100">
                                <div layout="row" flex ="80">
                                    <div layout="column" style="width: 200px">
                                        <md-input-container>
                                            <label>Name</label>
                                            <input ng-model="currentField.Name">
                                        </md-input-container>
                                    </div>
                                    <div layout="column" style="width: 200px" ng-repeat="v in [0]">
                                        <!-- Repeat is needed to get rid of ripple effect -->
                                        <md-input-container style="padding-top: 30px">
                                            <md-switch class="md-secondary" ng-model="currentField.IsMultipleValue">Has multiple values</md-switch>
                                        </md-input-container>
                                    </div>
                                    <md-input-container flex="15">
                                        <label>From</label>
                                        <input ng-model="currentField.From">
                                    </md-input-container>
                                    <md-input-container flex="15" ng-show="currentField.IsMultipleValue">
                                        <label>Step</label>
                                        <input ng-model="currentField.Step">
                                    </md-input-container>
                                    <md-input-container flex="15" ng-show="currentField.IsMultipleValue">
                                        <label>To</label>
                                        <input ng-model="currentField.To">
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-align="start end" flex>
                                    <md-input-container>
                                        <md-icon ng-click="removeConstant($index);" class="material-icons">delete_forever</md-icon>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>                    
                </md-tab>
                <!-- Household Id -->
                <md-tab label="Household Id" ng-if="settings.UseHouseholds">                    
                    <md-list layout="column" layout-align="stretch space-around" flex style="padding: 20px">
                        <md-subheader layout="row" flex layout-align="center center">
                            <md-button class="md-raised" ng-click="addHouseholdIdField();">Add new</md-button>                
                        </md-subheader>
                        <md-list-item ng-repeat="currentField in settings.HouseholdIdFields" flex layout="row" layout-align="start none" ng-click="">                            
                            <md-input-container flex="80">
                                <label>Default data field</label>
                                <md-select ng-model="currentField.Field" ng-model-options="{trackBy: '$value.ColumnName'}">
                                    <md-option ng-value="null"><em>None</em></md-option>
                                    <md-option ng-repeat="x in settings.DefaultFields" ng-value="x">
                                        {{::x.MetaName}} ({{::x.ColumnName}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <div layout="column" layout-align="start end" flex>
                                <md-input-container>
                                    <md-icon ng-click="removeHouseholdIdField($index);" class="material-icons">delete_forever</md-icon>
                                </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>                    
                </md-tab>
                <!-- Household Fields -->
                <md-tab label="Household Fields" ng-if="settings.UseHouseholds">
                    <md-list layout="column" layout-align="stretch space-around" flex style="padding: 20px">
                        <md-subheader layout="row" flex layout-align="center center">
                            <md-button class="md-raised" ng-click="addHouseholdField();">Add new</md-button>
                        </md-subheader>
                        <md-list-item ng-repeat="currentField in settings.HouseholdFields" flex layout="row" layout-align="start none" ng-click="">
                            <md-input-container flex="20">
                                <label>Name</label>
                                <input ng-model="currentField.Name">
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Type</label>
                                <md-select ng-model="currentField.DefaultType" ng-model-options="{trackBy: '$value.Name'}">
                                    <md-option ng-repeat="x in settings.DefaultTypes" ng-value="x">
                                        {{::x.Name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Default Value</label>
                                <input ng-model="currentField.DefaultValue">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Default data field</label>
                                <md-select ng-model="currentField.DefaultDataField" ng-model-options="{trackBy: '$value.ColumnName'}">
                                    <md-option ng-value="null"><em>None</em></md-option>
                                    <md-option ng-repeat="x in settings.DefaultFields" ng-value="x">
                                        {{::x.MetaName}} ({{::x.ColumnName}})
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <div layout="column" layout-align="start end" flex>
                                <md-input-container>
                                    <md-icon ng-click="removeHouseholdField($index);" class="material-icons">delete_forever</md-icon>
                                </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab>
                <!-- Relationship Types -->
                <md-tab label="Relationship Types" ng-if="settings.UseHouseholds">
                    <md-list layout="column" layout-align="stretch space-around" flex="100" style="padding: 20px">
                        <md-subheader layout="row" flex layout-align="center center">
                            <md-button class="md-raised" ng-click="addRelationshipType();">Add new</md-button>
                        </md-subheader>
                        <md-list-item ng-repeat="currentField in settings.RelationshipTypes" flex layout="row" layout-align="start none" ng-click="">
                            <div layout="column" flex="100" layout-align="start stretch">
                                <div layout="row" flex layout-align="start start">
                                    <md-input-container flex="20">
                                        <label>Name</label>
                                        <input ng-model="currentField.Name">
                                    </md-input-container>
                                    <md-input-container flex="20">
                                        <label>Probabilities</label>
                                        <input ng-model="currentField.Probabilities">
                                    </md-input-container>
                                    <div layout="column" layout-align="start end" flex>
                                        <md-input-container>
                                            <md-icon ng-click="removeRelationshipType($index);" class="material-icons">delete_forever</md-icon>
                                        </md-input-container>
                                    </div>
                                </div>
                                <md-list layout="column" layout-align="stretch space-around">
                                    <md-list-item ng-repeat="currentGrouping in currentField.GroupingVariables" flex layout="row" layout-align="start none" ng-click="">
                                        <div layout="row" flex="100">
                                            <div layout="row" flex="80">
                                                <div layout="column" style="width: 100px" ng-repeat="v in [0]">
                                                    <!-- Repeat is needed to get rid of ripple effect -->
                                                    <md-input-container style="padding-top: 30px">
                                                        <md-switch class="md-secondary" ng-model="currentGrouping.IsExclude"></md-switch>
                                                    </md-input-container>
                                                </div>
                                                <md-input-container flex="30">
                                                    <label>Field</label>
                                                    <md-select ng-model="currentGrouping.Field" ng-model-options="{trackBy: '$value.Name'}">
                                                        <md-option ng-value="null"><em>None</em></md-option>
                                                        <md-option ng-repeat="x in settings.PersonFields" ng-value="x">
                                                            {{x.Name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex="20" ng-show="!currentGrouping.IsExclude">
                                                    <label>Weight</label>
                                                    <input ng-model="currentGrouping.Weight">
                                                </md-input-container>
                                                <md-input-container flex="30" ng-show="currentGrouping.IsExclude">
                                                    <label>Exclude Type</label>
                                                    <md-select ng-model="currentGrouping.ExcludeType" ng-model-options="{trackBy: '$value'}">
                                                        <md-option ng-value="null"><em>None</em></md-option>
                                                        <md-option ng-repeat="x in settings.ExcludeTypes" ng-value="x.Type">
                                                            {{x.Name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex="20" ng-show="currentGrouping.IsExclude">
                                                    <label>Exclude Value</label>
                                                    <input ng-model="currentGrouping.ExcludeValue">
                                                </md-input-container>
                                            </div>
                                            <div layout="column" layout-align="start end" flex>
                                                <md-input-container>
                                                    <md-icon ng-click="removeRelationshipGrouping(currentField.GroupingVariables, $index);" class="material-icons">delete_forever</md-icon>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </md-list-item>
                                    <md-list-item flex layout="row" layout-align="start none" ng-click="">
                                        <div layout="column" layout-align="start end" flex>
                                            <md-input-container>
                                                <md-icon ng-click="addRelationshipGrouping(currentField.GroupingVariables);" class="material-icons">add_circle</md-icon>
                                            </md-input-container>
                                        </div>
                                    </md-list-item>
                                </md-list>
                                <md-divider md-inset flex="100"></md-divider>
                            </div>                            
                        </md-list-item>
                    </md-list>
                </md-tab>
            </md-tabs>
        </div>
    </form>

    <!-- Your application bootstrap  -->

    <script type="text/javascript">
        var am = angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
        am.controller('AppCtrl', function ($scope, $http) {
            load = function (base64json) {
                $scope.settings = JSON.parse(base64.decode(base64json));
                if ($scope.settings.PersonFields.length > 0) $scope.personField = $scope.settings.PersonFields[0];                
                $scope.$apply();                
            };
            save = function () {
                return base64.encode(JSON.stringify($scope.settings));
            };
            isvalid = function () {
                return $scope.validatorForm.$valid;
            };

            // Personfield
            $scope.addPersonField = function () {
                var field = (JSON.parse(JSON.stringify($scope.settings.DefaultPersonField))); // Cloning solution
                field.Name = field.Name + $scope.settings.PersonFields.length.toString();
                $scope.settings.PersonFields.push(field);                
            }
            $scope.removePersonField = function (index) {                
                if (index > -1) $scope.settings.PersonFields.splice(index, 1);                
            }

            // Constants
            $scope.addConstant = function () {
                var field = (JSON.parse(JSON.stringify($scope.settings.DefaultConstant))); // Cloning solution
                field.Name = field.Name + $scope.settings.Constants.length.toString();
                $scope.settings.Constants.push(field);
            }
            $scope.removeConstant = function (index) {
                if (index > -1) $scope.settings.Constants.splice(index, 1);
            }

            // HouseholdIdfield
            $scope.addHouseholdIdField = function () {
                var field = (JSON.parse(JSON.stringify($scope.settings.DefaultHouseholdIdField))); // Cloning solution                                
                $scope.settings.HouseholdIdFields.push(field);
            }
            $scope.removeHouseholdField = function (index) {
                if (index > -1) $scope.settings.HouseholdIdFields.splice(index, 1);
            }

            // Householdfield
            $scope.addHouseholdField = function () {
                var field = (JSON.parse(JSON.stringify($scope.settings.DefaultHouseholdField))); // Cloning solution
                field.Name = field.Name + $scope.settings.HouseholdFields.length.toString();
                $scope.settings.HouseholdFields.push(field);
            }
            $scope.removeHouseholdField = function (index) {
                if (index > -1) $scope.settings.HouseholdFields.splice(index, 1);
            }

            // RelationshipType
            $scope.addRelationshipType = function () {
                var field = (JSON.parse(JSON.stringify($scope.settings.DefaultRelationshipType))); // Cloning solution
                field.Name = field.Name + $scope.settings.RelationshipTypes.length.toString();
                $scope.settings.RelationshipTypes.push(field);
            }
            $scope.removeRelationshipType = function (index) {
                if (index > -1) $scope.settings.RelationshipTypes.splice(index, 1);
            }

            // RelationshipGrouping
            $scope.addRelationshipGrouping = function (type) {
                var field = (JSON.parse(JSON.stringify($scope.settings.DefaultRelationshipGroupingVariable))); // Cloning solution                
                type.push(field);
            }
            $scope.removeRelationshipGrouping = function (type, index) {
                if (index > -1) type.splice(index, 1);
            }
        });
        window.onload = function () { pageLoadBinder.onPageLoaded(); }
    </script>
</body>
</html>